<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New WCCC Gaming Contact Request from: <%= @message.name %></h1>
    <p>
     <%= @message.content %>-<br/>
    </p>
  </body>
</html>
