<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
  <h1>About Us</h1>
  <p>WCCC Gaming is a student organization that was founded in spring 2013 as a way to organize casual and gamers on campus as well as in our community. The organization is open to any current WCCC student, and most events are open to the public.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Sign up!</a></p>
</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <%= render 'posts' %>
    <%= will_paginate @pagi %>
  </div>
  <div class="col-xs-4">
      <%= render 'events' %>
  </div>
</div>
