@import "bootstrap";

#nav {
  margin-top:35px;
  float:right;
  list-style:none;
  font-size:1.25em;
}
#nav li {
  display:inline;
  padding:10px;
}

.newsTitle {
  overflow:hidden;

  span{
    margin-top: 35px;
  }
}

.event {
  overflow:hidden;
  margin-left: 10px;
  margin-bottom: 20px;
  .eventdate {
    margin-right: 15px;
    text-align: center;
    p {
      margin: 0;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1;
    }
  }
  .eventtitle {
    margin-top: 10px;
    h3 {
      margin: 0;
    }
  }
}

.logo {
  a {
      text-decoration: none;
  }
}

.forminputs {
  textarea {
    width:100%;
    height:200px;
    padding:10px;
  }
}

@media (max-width: 730px) {
  #nav {
    margin-top:0;
    float:none;
    padding-left:0px;
  }
  #nav li {
    float:none;
    display:inline;
    width:25%;
  }
  .head {
    width: 100%;
    text-align:center;
  }
  .jumbotron h1 {
    text-align:center;
  }
  .signupbtn {
    text-align:center;
  }
  .posts {
    width:100%;
  }
  .events {
    width:100%;
    text-align:center;
  }
  .events h2 {
    text-align:center;
  }
  
  .event {
    display:inline-block;
  }
}
